<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>YerevanStories</title>
    <link rel="stylesheet" href="/static/layout.css" />
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=">
    </script>
</head>
<body>
    <section id="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeBar()">
            &times;
        </a>
        <h1></h1>
        <div class="container" id="storyContainer">
            <a href="#" class="button" id="addButton">Ավելացնել պատմություն</a>
        </div>
    </section>

    <header>
        <h1>Մի Շենքի Պատմություն</h1>
    </header>

    <section class="wrapper">
        <div id="map-canvas"></div>
    </section>

    <div id="inputModal">
        <form class="content" id="inputForm">
            <span class="close">&times;</span>
            <label for="story">Ձեր պատմությունը</label>
            <textarea id="story" name="story"></textarea>
            <br />
            <label for="author">Հեղինակ</label>
            <input type="text" id="author" />
            <br />
            <a href="#" class="button" id="addStoryButton">Ավելացնել պատմությունը</a>
        </form>
    </div>

    <dov id="infoModal">
        <div class="content">
            <a href="javascript:void(0)" class="close" onclick="closeInfo()">
                &times;
            </a>
            Կայքը ստեցծվել է Երևանի շենքերի պատմությունների շտեմարան հավաքագրելու նպատակով։<br />
            Օգտագտվելու համար սեղմեք Ձեզ հետաքրքրող շենքի վրա և տեսեք առկա պատմությունները։
            Ձեր պատմությունը ավելացնելու համար սեղմեք «Ավելացնել պատմություն» կոճակը։
        </div>
    </dov>

    <footer>
        <section>

            Հեղինակային իրավունք © 2018 <a href="http://github.com/hharutyunyan">hharutyunyan</a>, Նարեկ Կարապետյան

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <a href="javascript:void(0)" onclick="openInfo()">
                Օգտագործման կարգը
            </a>

        </section>
    </footer>
</body>
<script src="/static/map.js"></script>
</html>
