<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>YerevanStories</title>
    <link rel="stylesheet" href="/static/layout.css" />
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=">
    </script>
</head>
<body>
    <section id="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeBar()">
            &times;
        </a>
        <h1></h1>
        <div class="container" id="storyContainer">
            <a href="#" class="button" id="addButton">Add a Story</a>
        </div>
    </section>

    <header>
        <h1>Մի շենքի պատմություն</h1>
    </header>

    <section class="wrapper">
        <div id="map-canvas"></div>
    </section>

    <div id="inputModal">
        <form class="content" id="inputForm">
            <span class="close">&times;</span>
            <label for="story">Your story</label>
            <textarea id="story" name="story"></textarea>
            <br />
            <label for="author">Author</label>
            <input type="text" id="author" />
            <br />
            <a href="#" class="button" id="addStoryButton">Add the Story</a>
        </form>
    </div>

    <footer>
        <section>

            Copyright © 2018 hharutyunyan

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            Developed by <a href="https://linkedin.com/in/henryharutyunyan/" target="_blank">hharutyunyan</a>

        </section>
    </footer>
</body>
<script src="/static/map.js"></script>
</html>
